body {
  font-family: Arial, sans-serif;
  margin: 20px;
  box-sizing: border-box;
}

h1 {
  color: blue;
  text-align: center;
}

p {
  font-size: 18px;
  padding: 1%;
}

.hero {
  display: flex;
  width: 80vw;
  padding-left: 10%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
